---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Transformation from '../components/Transformation.astro';
import Stats from '../components/Stats.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main class="w-full min-h-screen bg-surface selection:bg-secondary selection:text-white">
    <Hero />
    <Services />
    <Transformation />
    <Stats />
    <Footer />
  </main>
</Layout>
